.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* Tablet and desktop styles (768px and wider). */
@media (min-width: 768px) {
  .rightSection {
    justify-content: flex-end;
    align-items: flex-end;
    padding: 50px;
  }
}
